<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/navbar.css') }}">
</head>
<body>
    <header>
        <div class="navbar">
            <div class="logo">
                <a href="#">NotIS</a>   
            </div>
            <nav>
                <ul class="nav-links">
                    <li><a href="{{url_for('beranda')}}">Beranda</a></li>
                    <li><a href="{{url_for('transaksi')}}">Transaksi</a></li>
                    <li><a href="{{url_for('produk')}}">Produk</a></li>
                    <li><a href="{{url_for('laporan')}}">Laporan</a></li>
                    <li><a href="{{url_for('pengaturan')}}">Pengaturan</a></li>
                </ul>
            </nav>
            <div class="search-container">
                <input type="text" name="" id="" placeholder="cari...">
                <button type="submit">🔍</button>
            </div>         
        </div>
    </header>
</body>